.barraSuperior{
  background-color: black;
  height: 40px;
  text-align: right;
 
}

.inicio{
  color: white;
 margin-right: 20px;
 margin-top: 50px;
top: 20px;
  text-decoration: none;
}
.barraLogo{
  height: 80px;
}